body{
    font-family: 'Poppins', sans-serif;
    
}

.flexible-section{
    display: flex;
    margin-bottom: 100px;
   
}

.half-width{
    width: 50%;
    padding: 2%;
   
    
}
.half-width img {
    width: 60%;
    padding: 2%;
}
.orange-color{
    background-image: linear-gradient(tomato, orange);
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
}
.orange{
    color: orangered;
}
h1{
    font-size: 50px;
}
.first-section {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.second-section {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

h2{
    font-size: 40px;
}

.box{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}
#blue{
    border-image: linear-gradient(blue, cyan);
    border-left: 7px solid;
    border-top: 7px solid;
    border-image-slice: 1;
}
#komola{
    border-image: linear-gradient(orange, tomato);
    border-left: 7px solid;
    border-top: 7px solid;
    border-image-slice: 1;
}
.third-section{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
footer p {
    text-align: center;
}
